<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
        />
        <title>Layout</title>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.1.0/github-markdown-light.min.css"> -->
        <link rel="stylesheet" id="highlight-css" href="./styles/github.css">
        <link rel="stylesheet" disabled id="highlight-css-dark" href="./styles/github-dark.css">
    </head>
    <body>
        <!-- svg-defs -->
        <div id="app"></div>
        <script type="module" src="./index.ts"></script>
    </body>
</html>
