<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- styles -->
    <!-- head-scripts -->
    <script type="importmap">
        {
            "imports": {
                "vue": "/node_modules/vue/dist/vue.esm-browser.js",
                "ant-design-vue": "/node_modules/ant-design-vue/dist/antd.esm.js"
            }
        }
    </script>
</head>
<body>
    <div id="app"><!-- SSR --></div>
    <script type="module" src="./index.ts"></script>
    <!-- scripts -->
</body>
</html>