<!DOCTYPE html>
<html lang="en" class="p-dark">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
        />
        <title>Layout</title>
    </head>
    <body>
        <button
            class="p-button p-component"
            type="button"
            aria-label="Primary"
            data-pc-name="button"
            data-p-disabled="false"
            data-pc-section="root"
            pc1=""
        >
            <!----><span class="p-button-label" data-pc-section="label"
                >Primary</span
            ><!---->
        </button>
        <div id="app"></div>
        <script type="module" src="./index.ts"></script>
    </body>
</html>
