<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- head-scripts -->
        <script type="importmap">
            {
                "imports": {
                    "vue": "/node_modules/vue/dist/vue.esm-browser.js",
                    "ui": "/node_modules/mdemits/dist/layout/ui/index.js"
                }
            }
        </script>
        <!-- styles -->
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/index.css">
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/ui/style.css">
        <link rel="stylesheet" id="highlight-css" href="/node_modules/mdemits/dist/layout/styles/github.css">
        <link rel="stylesheet" disabled id="highlight-css-dark" href="/node_modules/mdemits/dist/layout/styles/github-dark.css">
    </head>
    <body>
        <div id="app"><!-- SSR --></div>
        <script type="module" src="./index.ts"></script>
        <!-- scripts -->
    </body>
</html>
