<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- head-scripts -->
        <script type="importmap">
            {
                "imports": {
                    "vue": "/node_modules/vue/dist/vue.esm-browser.js",
                    "primevue/": "/node_modules/primevue/",
                    "@primeuix/": "/node_modules/.pnpm/node_modules/@primeuix/",
                    "@primevue/": "/node_modules/.pnpm/node_modules/@primevue/"
                }
            }
        </script>
        <!-- styles -->
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/lara/primitive-variables.css">
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/lara/semantic-variables.css">

        <style data-primevue-style-id="global-style"></style>
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/lara/global-style.css">

        <style data-primevue-style-id="base">
            @import url(/node_modules/mdemits/dist/layout/styles/base.css);
        </style>
        <!-- <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/base.css"> -->

        <style data-primevue-style-id="ripple-directive-style"></style>
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/ripple-directive-variables.css">
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/ripple-directive-style.css">
        
        <style data-primevue-style-id="button-style"></style>
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/button-variables.css">
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/button-style.css">

        <style data-primevue-style-id="toolbar-style"></style>
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/toolbar-variables.css">
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/styles/toolbar-style.css">
        <!-- <link rel="stylesheet" href="/node_modules/primeicons/primeicons.css"> -->
        <link rel="stylesheet" href="/node_modules/mdemits/dist/layout/index.css">
    </head>
    <body>
        <div id="app"><!-- SSR --></div>
        <script type="module" src="./index.ts"></script>
        <!-- scripts -->
    </body>
</html>
